<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-US' }}">

{% assign i18n = site.data.locales.default[page.lang] | default: site.data.locales.default.en %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% assign pages=site.pages | where:"stub", page.stub | sort: 'lang' %}
    {% if pages.size > 1 %}
    {% for item in pages %}
    <link rel="alternate" hreflang="{{item.lang}}" href="{{ site.base-url }}{{ item.url }}" />
    {% endfor %}
    {% endif %}
    {% seo %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo/logo.svg" width="30" height="30" class="d-inline-block align-top">
            {{ site.title }}
        </a>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="https://github.com/Authenticator-Extension">GitHub</a>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            {% if page.stub %}
            <div class="col">
                {% assign sidebar = site.data.locales.sidebar[page.lang].sections | default: site.data.locales.sidebar.en.sections %}
                {% for section in sidebar %}
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {{ section.title }}
                    </div>
                    <div class="list-group list-group-flush">
                        {% for doc in section.docs %}

                        {% assign translatedPage=site.pages | where:"stub", doc.stub | where:"lang", page.lang %}
                        {% if translatedPage.size == 1 %}
                        {% assign base = '/docs/' | append: page.lang | append: '/' %}
                        {% else %}
                        {% assign base = '/docs/' | append: 'en/' %}
                        {% endif %}

                        {% if page.stub == doc.stub %}
                        <a href="{{ doc.stub | prepend: base }}" class="list-group-item active">{{ doc.title }}</a>
                        {% else %}
                        <a href="{{ doc.stub | prepend: base }}" class="list-group-item">{{ doc.title }}
                            {% if translatedPage.size != 1 %}
                            <span class="badge badge-secondary">{{ i18n.unlocalized }}</span>
                            {% endif %}
                        </a>
                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-8">
                <h1>{{ page.title }}</h1>
                <hr>
                <!-- Outdated translatons notice -->
                {% if page.ver %}
                {% assign enPage=site.pages | where:"stub", page.stub | where:"lang", "en" | first %}
                {% if page.ver < enPage.ver %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">{{ i18n.warning }}</h4>
                    <p>{{ i18n.outdated-warn-1 }} <a class="alert-link"
                            href="{{ enPage.url | prepend: site.url }}">{{ i18n.outdated-warn-2 }}</a>
                        {{ i18n.outdated-warn-3 }}</p>
                    <hr>
                    <p class="mb-0"><a class="alert-link" href="#">{{ i18n.translate-long }}</a>
                    </p>
                </div>
                {% endif %}
                {% endif %}
                <!-- -->
                <!-- TODO: This page is avalible in your lang notice -->
                {{ content }}
                <hr>
                <!-- Footer -->
                {% assign pages=site.pages | where:"stub", page.stub | sort: 'lang' %}
                {% if pages.size > 1 %}
                <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ site.data.languages[page.lang].flag }} {{ site.data.languages[page.lang].name }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for item in pages %}
                        <a href="{{ site.base-url }}{{ item.url }}"
                            class="dropdown-item">{{ site.data.languages[item.lang].flag }}
                            {{ site.data.languages[item.lang].name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="float-right">
                    <a href="#" type="button" class="btn btn-secondary">{{ i18n.translate }}</a>
                    <a href="{{ page.path | prepend: 'https://github.com/Authenticator-Extension/authenticator.cc/tree/master/' }}"
                        type="button" class="btn btn-secondary">{{ i18n.edit }}</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>