<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% assign pages=site.pages | where:"stub", page.stub | sort: 'lang' %}
    {% if pages.size > 1 %}
    {% for item in pages %}
    <link rel="alternate" hreflang="{{item.lang}}" href="{{ site.base-url }}{{ item.url }}" />
    {% endfor %}
    {% endif %}
    {% seo %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo/logo.svg" width="30" height="30" class="d-inline-block align-top">
            Authenticator
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="https://github.com/Authenticator-Extension">GitHub</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                {% assign sidebar = site.data.sidebar.sections %}
                {% for section in sidebar %}
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {{ section.title }}
                    </div>
                    <div class="list-group list-group-flush">
                        {% for doc in section.docs %}
                        {% if page.stub == doc.stub %}
                        <a href="{{ doc.stub | prepend: '/docs/en/' }}"
                            class="list-group-item active">{{ doc.title }}</a>
                        {% else %}
                        <a href="{{ doc.stub | prepend: '/docs/en/' }}" class="list-group-item">{{ doc.title }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
            <div class="col-8">
                <h1>{{ page.title }}</h1>
                <hr>
                {{ content }}
                <hr>
                {% assign pages=site.pages | where:"stub", page.stub | sort: 'lang' %}
                {% if pages.size > 1 %}
                <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ site.data.languages[page.lang] }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for item in pages %}
                        <a href="{{ site.base-url }}{{ item.url }}" class="dropdown-item">{{ site.data.languages[item.lang] }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="float-right">
                    <a href="{{ page.path | prepend: 'https://github.com/Authenticator-Extension/authenticator.cc/tree/master/' }}"
                        type="button" class="btn btn-outline-secondary">Edit</a>
                    <a href="#" type="button" class="btn btn-outline-secondary">Translate</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>